Question:<h1> <%= @question.title + "?"%> </h1>
<h2> <%=@question.body %> <h2>
<h3> <%@question.comments.each do |comment|%>
Comments for this question:
  <br>
<p> <%=comment.body %> </p>
<%end%>
<br>
<%if current_user %>
  <h3>Comment on this Question</h3>
<form method="POST" action="/questions/<%=@question.id%>/comments">
    <input type="hidden" name="commentable_id" value="<%= @question.id %>">
    <input type="hidden" name="commentable_type" value="Question">
    <textarea name="body"></textarea>
    <input type="submit" value="Submit Comment">
</form>
</div>
<%else%>
  <p> You must be <a href="/sessions/new"> sign in</a> or <a href="/users/new"> register</a> to comment on this question
<%end%>
<br>
-------------------------------------------

<%@question.answers.each do |answer| %>
<h3> Answers to this question </h3>
  <%=answer.body %>
  <br>

  <h3> Comments on this Answer: </h3>
  <%answer.comments.each do |comment|%>

  <br>
  <%=comment.body%>

  <%end%>
  <%if current_user %>
<form method="POST" action="/questions/<%=@question.id%>/answers/<%=answer.id%>/comments">
    <input type="hidden" name="commentable_id" value="<%= answer.id %>">
    <input type="hidden" name="commentable_type" value="Answer">
    <textarea name="body"></textarea>
    <input type="submit" value="Submit Comment">
</form>
  <%else%>
  <p> You must be <a href="sessions/new"> sign in</a> or <a href="users/new"> register</a> to comment on this answer
  <%end%>


  <%end%>
---------------------------------
  <h3> Answer this Question </h3>
       <form method="POST" action="/questions/<%=@question.id%>/answers">
    <textarea name="body"></textarea>
    <input type="submit" value="Answer Question">
  </form>
