
<div id="w3-container">
<h1> <%= @question.title + "?"%> </h1>
</div>

<p> <%=@question.body %> </p>

<div id="w3-container w3-light-grey w3-border">
<div class="w3-container">
<h2> Comments on this Question </h2>
</div>
<section class="w3-container w3-light-grey w3-border"> <%@question.comments.each do |comment|%>

<p> <%=comment.body %> </p>
<%end%>


<%if current_user %>

  <p>Comment on Question:</p>

<form method="POST" action="/questions/<%=@question.id%>/comments">
    <input type="hidden" name="commentable_id" value="<%= @question.id %>">
    <input type="hidden" name="commentable_type" value="Question">
    <textarea name="body"></textarea>
    <input type="submit" value="Submit Comment">
</form>
<section>
</div>

<%end%>
<br>

<section class="w3-container">
  <h2>Answers for this Question</h2>
<%@question.answers.each do |answer| %>
<div class="w3-container">

</div>
  <%=answer.body %>
  <br>

  <%answer.comments.each do |comment|%>

  <br>
  <%=comment.body%>

  <%end%>
  </section>
  <section class="w3-container">
  <%if current_user %>
<form method="POST" action="/questions/<%=@question.id%>/answers/<%=answer.id%>/comments">
    <input type="hidden" name="commentable_id" value="<%= answer.id %>">
    <input type="hidden" name="commentable_type" value="Answer">
    <textarea name="body"></textarea>
    <input type="submit" value="Submit Comment">
</form>
</section>

  <%end%>


  <%end%>
<%if current_user %>
<section class="w3-container">
  <h1 class="w3-container"> Answer this Question </h1>

       <form method="POST" action="/questions/<%=@question.id%>/answers">
    <textarea name="body"></textarea>
    <br>
    <input type="submit" value="Answer Question">
  </form>
  </section>
<%end%>
