<form action='/post/new' method='post'>
  <label for='post'>Create a Post</label>
  <input type='text'>
  <input type='submit'>
</form>

<% @questions.each do |question| %>
    <div class = 'votes-answer-container'>
      <div class ='up-vote-count'><%=question.votes.length%>
        <span class='votes'>Votes</span>
      </div>
      <div class= 'answer-count'><%=question.answers.length%>
        <span class='answer'>Answers</span>
      </div>
    </div>
    <h3 class='question-title'><a href="/questions/<%=question.id%>"><%=question.title %></a></h3>
    <span class='date-time'><%= question.updated_at.strftime("%b. %d, %Y %I:%M %p")%></span><br>
  <%end%>




